:root {
    --theme: rgb(0, 187, 187);
    --background: rgb(62, 136, 255);
}

*:hover {
    cursor: url(.//Images//Cursor.png);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(.//Images//wish-background.webp);
}

main {
    display: flex; justify-content: space-between; flex-direction: column; height: auto; width: auto; gap: 20px;
}

header {
    justify-content: space-between; margin: 10px 10px;
}

.wish {
   color:black;font-size:larger;font-weight:bolder;gap:20px;margin:5px 10px;width:fit-content;height:auto;align-self:flex-start;
}

.wish img {
    width: 30px; height: 30px;
}

.banners {
    margin: 10px auto; gap: 25px;
}

.banner-preview {
    background-color:var(--background);width:120px;height:60px;position:relative;display:flex;border:1px solid rgb(108,151,156);
}

.blue {
    position:relative;display:flex;overflow-x:hidden;width:150px;height:90px;
}

.banner-preview img {
    position:absolute;width:120px;height:70px;top:-10px;
}

.banner-preview:hover,
.weapon-banner:hover {
    background-color: azure; top: -5px;
}

.banner-preview img:hover,
.weapon-banner img:hover {
    top: -10px
}

.weapon-banner {
    background-color: var(--background); width: 120px; height: 60px; position: relative; display: flex; border: 1px solid rgb(108, 151, 156); padding: auto;
}

.weapon-banner img {
   width: 20px; height: 70px; top: -10px; 
}

.middle {
 position: relative; width: 1000px; height: 450px; margin-left: 115px; 
}
 .middle img {
 width: 1200px; height: 450px; position: relative; object-fit: contain; object-position: -110px 0px; 
}
 .line {
 background-color: dimgray; position: absolute; flex-direction: column; height: 170px; width: 4px; bottom: 0px; left: -14px; 
}
 .event-wish {
 position: absolute; background-color: var(--theme); color: white; width: 200px; height: auto; padding: 5px 8px; font-size: 20px; font-weight: bolder; border-radius: 25px 5px 25px 25px; top: -4px; left: -6px; z-index: 5; 
}
 .banner-name {
 position: absolute; display: flex; font-size: 25px; width: 250px; height: auto; flex-direction: column; top: 25px; left: 30px; color: dimgray; z-index: 3; -webkit-text-stroke: 0.2px; -webkit-text-stroke-color: white; 
}
 .banner-name span {
 color: var(--theme); 
}
 .banner-details {
 bottom: 120px; left: 30px; 
}
 .guarentee {
 display: block; width: 250px; color: white; background-color: rgba(0, 187, 187, 0.577); font-size: 18px; font-weight: bold; padding: 5px; padding-left: 25px; 
}
 .banner-details>h1 {
 font-size: 23px; color: rgb(52, 51, 51); -webkit-text-stroke: 0.2px; -webkit-text-stroke-color: white; font-weight: bolder; 
}
 .five-star-info {
 width: 250px; color: rgb(21, 21, 21); font-size: 16px; font-weight: bold; -webkit-text-stroke: 0.1px; -webkit-text-stroke-color: white; 
}
 .time {
 color: rgb(21, 21, 21); font-size: 16px; font-weight: bolder; -webkit-text-stroke: 0.1px; -webkit-text-stroke-color: white; bottom: 20px; left: 30px; 
}
 #character-name {
 z-index: 5; font-size: 45px; color: white; -webkit-text-stroke: 0.1px; -webkit-text-stroke-color: black; font-weight: bold; bottom: 90px; right: 545px; 
}
 #character-title {
 z-index: 5; background-color: rgba(77, 77, 77, 0.908); opacity: 1; color: rgb(225, 215, 67); width: 80px; height: 20px; font-size: 18px; padding: 2px 5px; font-weight: bold; bottom: 48px; right: 570px; 
}
 .up {
 font-size: 22px; color: rgb(251, 251, 15); -webkit-text-stroke: 0.3px; -webkit-text-stroke-color: rgb(170, 146, 12); z-index: 5; font-weight: bolder; bottom: 120px; right: 510px; 
}
 .currency {
 color: white; font-weight: bolder; font-size: large; gap: 20px; margin: 5px 10px; width: fit-content; height: auto; align-self: flex-start; 
}

.currency img {
    width: 20px; height: 20px;
}

.exit {
    background-color:beige;display:flex;align-items:center;justify-content:center;width:35px;height:35px;border-radius:30px;
}

.exit img {
    width: 30px; height: 30px; filter: invert(1);
}

.primos {
  background-color:dimgrey;opacity:0.8;border-radius:20px;border:1px solid grey;padding:0 8px;gap:8px;
}

.intertwined {
    background-color:dimgrey;opacity:0.8;border-radius:20px;border:1px solid grey;padding:0 8px;gap:4px;
}

.glitter {
    gap: 30px; margin-left: 7px;
}

.masterless {
    color: dimgray; font-size: medium; font-weight: 600; gap: 5px;
}

.masterless img {
    width: 25px; height: 25px;
}

.triplet {
    color: grey;
}

.triplet button {
    width: 100px; height: 30px; border-radius: 15px; background-color: beige; margin: 5px; font-weight: bold;
}

.tripletbutton:hover {
    outline: 2px solid white; cursor: pointer;
}

.bottom-left {
    margin: 10px;
}

.bottom {
    justify-content: space-between; margin: 0px 40px;
}

.center {
    justify-content: space-around;
}

.left,
.right img {
    filter: invert(1);
}

.pulls button {
    height: 40px; width: 150px; border-radius: 25px; margin: 10px; cursor: pointer; background-image: url(.//Images//button-bg.webp); background-size: contain; outline: gold; font-weight: bold;
}

.translate:hover {
    transform: translate(3px, 3px); transition: transform 0.2s ease-out;
}

.summarize>button {
    height: 40px; width: 150px; border-radius: 15px; outline: 2px solid gold; box-shadow: 5px 6px rgb(195, 195, 195); margin: 10px; cursor: pointer; background-color: rgb(184, 209, 171);
}

.reset>button {
    height: 40px; width: 150px; border-radius: 15px; outline: 2px solid gold; box-shadow: 5px 6px rgb(195, 195, 195); margin: 10px; cursor: pointer; background-color: rgb(184, 209, 171);
}

.pulls {
    justify-content: space-around;
}
