.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bolder {
    font-weight: bolder;
}
